body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game__container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  align-items: center;
  justify-content: center;
}
.game__squares {
  height: 200px;
  width: 200px;
  background: white;
  border: 1px solid black;
}

.red {
  background: red;
  transition: 0.3s;
}
.blue {
  background: blue;
  transition: 0.3s;
}

.game__turn_counter {
  padding: 20px;
  border: 2px dotted black;
  margin: 20px;
}
