body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}

.game__title {
  font-size: 60px;
  border-bottom: 3px solid black;
}
.game__title:hover {
  font-size: 70px;
  border-bottom: 3px solid black;
}

.game__container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  align-items: center;
  justify-content: center;
}
.game__squares {
  height: 200px;
  width: 200px;
  background: white;
  border: 1px solid black;
}

.red {
  background: red;
  transition: 0.5s;
  font-size: 200px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}
.blue {
  background: blue;
  transition: 0.5s;
  font-size: 200px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.game__turn_counter {
  padding: 20px;
  border: 2px dotted black;
  margin: 20px;
  font-size: 30px;
}

.game__reset {
  background: purple;
  color: white;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px black;
}
.game__reset:hover {
  background: purple;
  color: white;
  font-size: 34px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px black;
}
